<div class="edition">
    <div class="editionImg">
        <img src="assets/img/wEdition.png" alt="" srcset="" class="squareImg">
    </div>

    <div class="description">
        <div class="DescText">
            <h1 style="margin: 0;">Wish Edition</h1>
            <h1 style="color: rgb(101, 100, 100); font-size: 15px;">Feliz 2k23, Confira a seleção especial <br> para a virada!

            </h1>
        </div>
        <div class="DescButton">
            <a href="" class="BuyButton">Comprar</a>
        </div>
    </div>



</div>