<div class="recommend">
    <div class="title">
        <h1>Recomendações do Cheff🖖</h1>
    </div>


    <div class="products">
        <div class="product">
            <div class="productImg">
                <img src="" alt="" srcset="">
            </div>
            <div class="productInfo">
                <h1>a</h1>
            </div>
            <div class="productPrice">
                <h1>12</h1>
            </div>
        </div>

        <div class="product">
            <div class="productImg">
                <img src="" alt="" srcset="">
            </div>
            <div class="productInfo">
                <h1>a</h1>
            </div>
            <div class="productPrice">
                <h1>12</h1>
            </div>
        </div>

        <div class="product">
            <div class="productImg">
                <img src="" alt="" srcset="">
            </div>
            <div class="productInfo">
                <h1>a</h1>
            </div>
            <div class="productPrice">
                <h1>12</h1>
            </div>
        </div>

        <div class="product">
            <div class="productImg">
                <img src="" alt="" srcset="">
            </div>
            <div class="productInfo">
                <h1>a</h1>
            </div>
            <div class="productPrice">
                <h1>12</h1>
            </div>
        </div>

        <div class="product">
            <div class="productImg">
                <img src="" alt="" srcset="">
            </div>
            <div class="productInfo">
                <h1>a</h1>
            </div>
            <div class="productPrice">
                <h1>12</h1>
            </div>
        </div>

        <div class="product">
            <div class="productImg">
                <img src="" alt="" srcset="">
            </div>
            <div class="productInfo">
                <h1>a</h1>
            </div>
            <div class="productPrice">
                <h1>12</h1>
            </div>
        </div>
    </div>

</div>