.title {
    font-family: 'Fira Code', monospace;
    font-family: 'Montserrat', sans-serif;
    margin-left: 50px;
}

.products {
    display: grid;
    grid-template: 1fr/repeat(4, 1fr);
    grid-gap: 2rem;
    grid-row-gap: 1rem;
    width: 100%;
    height: 500px;
    margin-left: 50px;
}

.recommend {
    margin-top: 100px;
}