<div class="categories">
    <div class="productCategories">
        <div class="product">
            <a routerLink="/promotions">Promoções</a>
        </div>

        <div class="product">
            <a routerLink="/catalog">Catalogo</a>
        </div>

        <div class="product">
            <a routerLink="/dayByDay">Dia a Dia</a>
        </div>

        <div class="product">
            <a routerLink="/technology">Tecnologia</a>
        </div>

        <div class="product">
            <a routerLink="/healthyAndBeauty">Saúde e beleza</a>
        </div>


    </div>
</div>